.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 98vw;
  height: 99vh
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 78vw;
  
}

.trip-details {
  width: 78vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.trip-div{
  display: flex;
  flex-direction: column;
  height: 35vw;
  justify-content: space-between;
  background-color: hotpink;
  width: 300px;
  border: 1px solid black;
}



